USE [master]
GO
/****** Object:  Database [DbEnoca]    Script Date: 14.10.2022 20:15:37 ******/
CREATE DATABASE [DbEnoca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbEnoca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbEnoca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbEnoca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbEnoca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbEnoca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbEnoca]
GO
/****** Object:  Table [dbo].[Tbl_FilmTablosu]    Script Date: 14.10.2022 20:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_FilmTablosu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Genre] [nvarchar](20) NULL,
	[Director] [nvarchar](30) NULL,
	[Year] [int] NULL,
	[CinemaNameID] [int] NULL,
 CONSTRAINT [PK_Tbl_FilmTablosu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_SinemaTablosu]    Script Date: 14.10.2022 20:15:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_SinemaTablosu](
	[CinemaID] [int] IDENTITY(1,1) NOT NULL,
	[SName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_SinemaTablosu] PRIMARY KEY CLUSTERED 
(
	[CinemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_FilmTablosu]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_FilmTablosu_Tbl_SinemaTablosu] FOREIGN KEY([CinemaNameID])
REFERENCES [dbo].[Tbl_SinemaTablosu] ([CinemaID])
GO
ALTER TABLE [dbo].[Tbl_FilmTablosu] CHECK CONSTRAINT [FK_Tbl_FilmTablosu_Tbl_SinemaTablosu]
GO
USE [master]
GO
